<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="Normalize.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="sticky">
      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </section>
    <div class="content">
      <form id="myForm" method="post">
        <div class="text-input-group">
          <input
            type="text"
            id="name"
            name="PokemonName"
            class="inputSearch"
            placeholder="Write a name!"
          />
          <br />
          <input
            id="get"
            type="submit"
            value="SEARCH"
            class="search"
            formaction="/search-name"
          />
        </div>
      </form>
      <% if (locals.content){ %>
      <div class="main-header">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= content.id%>.png"
          alt=""
          class="imgPokemon"
        />
        <h3 class="pokemon-name"><%= content.name%></h3>
      </div>
      <div class="info-container">
        <div class="sd-header">
          <h2>Base Stats</h2>
          <div class="stat-container">
            <h4>Hp: <%= content.stats[0].base_stat%></h4>
          </div>
          <div class="stat-container">
            <h4>Attack: <%= content.stats[1].base_stat%></h4>
          </div>
          <div class="stat-container">
            <h4>Defense: <%= content.stats[3].base_stat%></h4>
          </div>
          <div class="stat-container">
            <h4>Speed: <%= content.stats[5].base_stat%></h4>
          </div>
        </div>
        <div class="trd-header">
          <h2>Abilities</h2>
          <div class="abilitie-container">
            <%content.abilities.forEach((ability)=> { %>
            <h4><%= ability.ability.name%></h4>
            <%}) %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
